
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-left: 5.3rem;
  padding-right: 5.3rem;
  height: 100vh;
  margin-bottom: 50px;
}

.feature-item {
  text-align: center;
  overflow: hidden; 
}

.feature-item img {
  max-width: 100%;  
  height: auto;   
  object-fit: contain; 
  
}

.feature-item h2 {
  font-size: 36px;
  color: black;
}

.feature-item h3 {
  font-size: 24px;
  color: orange;
}
